@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: iran-sans;
  src: url(../public/fonts/woff/IRANSansX-Medium.woff) format(woff), url(../public/fonts/woff/IRANSansX-Medium.woff2) format(woff2);
}
@font-face {
  font-family: iran-yekan;
  /* src: url(../public/fonts/ttf/iranyekanwebbold.ttf) format(ttf), url(../public/fonts/woff/iranyekanwebbold.woff) format(woff); */
  src: url(../public/fonts/ttf/Kalameh-Bold.ttf) format(ttf);
}
@theme inline {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-iran-sans: "iran-sans";
  --font-iran-yekan: "iran-yekan";
}
@custom-variant dark (&:where(.dark, .dark *));

body {
}
.hidden-scrollbar::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
button,
label {
  cursor: pointer;
}
@layer components {
  .theme {
    @apply bg-stone-200 dark:bg-gray-900;
  }
}
.test-swiper .swiper-wrapper {
  min-width: 100% !important;
  /* justify-content: center !important; */
}
.lock-scroll {
  max-height: 100vh;
  overflow: hidden;
}
