.mySwiper .swiper-wrapper {
  display: flex !important;
}
.mySwiper .swiper-slide-active {
  transform: scale(1) rotate(0deg) !important;
}
@media screen and (max-width: 529px) {
  .mySwiper .swiper-slide-prev {
    transform: scale(0.8) rotate(10deg) !important;
  }

  .mySwiper .swiper-slide-next {
    transform: scale(0.8) rotate(-10deg) !important;
  }
}
@media screen and (min-width: 530px) {
  .mySwiper .swiper-slide-active div .active {
    border: 2px solid #ff9800;
    position: relative;
    transform: translateY(-17px);
  }
  .swiper-slide-active div .active::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    z-index: -10;
    background-color: #ff9800;
  }

  .mySwiper .swiper-slide {
    width: 28%;
  }
}
@media screen and (min-width: 650px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
